<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration >
	<properties resource="db.properties"></properties>
	<typeAliases>
		<typeAlias type="com.etoak.bean.School" alias="sch"></typeAlias>
		<typeAlias type="com.etoak.bean.Students" alias="stu"></typeAlias>
	</typeAliases>
	<environments default="ev_mysql">
		<environment id="ev_mysql">
		<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"></property>
				<property name="url" value="${url}"></property>
				<property name="username" value="${user}"></property>
				<property name="password" value="${pwd}"></property>	
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/etoak/bean/StudentMapper.xml"></mapper>
		<mapper resource="com/etoak/bean/SchoolMapper.xml"></mapper>
	</mappers>
</configuration>